<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/popup}">
<th:block th:fragment="content">
    <section class="rank-system">
        <form name="frmRank" method="GET" th:object="${rankSearch}">
            <table class="table-cols">
                <tr>
                    <th width="180">레벨</th>
                    <td>
                        <span class="radio">

                        </span>
                    </td>
                </tr>
                <tr>
                    <th>통합 검색</th>
                    <td class="flex">
                        <select name="sopt" th:field="*{sopt}" class="w180 mr5">
                            <option value="ALL">통합검색</option>
                            <option value="EMAIL">이메일</option>
                            <option value="NAME">이름</option>
                            <option value="NICKNAME">닉네임</option>
                        </select>
                        <input type="text" name="skey" th:field="*{skey}" placeholder="검색할 키워드를 입력하세요.">
                        <button type="submit" class="submit-btn">검색하기</button>
                    </td>
                </tr>
            </table>
        </form>
        <table class="table-rows">
            <thead>
            <tr>
                <th>순위</th>
                <th>이름</th>
                <th>이메일</th>
                <th>닉네임</th>
                <th>맞춘개수</th>
                <th>틀린개수</th>
                <th>승률</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${ranks == null}">
                <td colspan="7" class="no-data">조회된 회원이 없습니다.</td>
            </tr>
            <tr th:unless="${ranks == null}" th:each="rank, status : ${ranks}" th:object="${rank}">
                <td th:text="${status.index + 1}"></td>
                <td align="center">
                    <span th:text="*{member.name}"></span>
                </td>
                <td th:text="*{member.email}"></td>
                <td th:text="*{member.nickName}"></td>
                <td th:text="*{#numbers.formatInteger(gameCorrectAnswer, 2)}"></td>
                <td th:text="*{#numbers.formatInteger(gameWrongAnswer, 2)}"></td>
                <td th:text="*{#strings.concat(winning, '%')}"></td>
            </tr>
            </tbody>
        </table>
    </section>
</th:block>
</html>