<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content" class="game-background">
    <section class="details" th:object="${pokemon}">
        <div class="game-box">
            <div id="pokemon-image" class="pokemon-image" ondragstart="return false"
                 oncontextmenu="return false">
                <th:block th:utext="*{@utils.showImage(frontImage, 390, 390, 'image')}"></th:block>
            </div>
            <div class="game-type">
                <th:block th:each="type : *{_types}">
                    <div class="types" th:text="${#messages.msg(type)}"></div>
                </th:block>
            </div>
            <th:block th:if="${requestShadowGame.mid || requestShadowGame.row}">
                <div th:utext="*{gameFlavorText}"></div>
            </th:block>
            <div th:text="*{seq}"></div>
        </div>
    </section>
</main>
</html>