<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content" class="game-background">
    <section class="details">
        <form name="frmGame" method="GET" th:action="@{/game/shadowstart}" autocomplete="off" th:object="${pokemon}">
            <div class="game-box">
                <th:block th:replace="~{front/game/_shadowgame::common}"></th:block>
                <div class="game-flavor" th:utext="*{gameFlavorText}"></div>
                <div class="game-seq" th:text="*{#strings.concat('도감번호 : ', seq, '번')}"></div>
                <th:block th:if="${requestShadowGame.gameQuizAnswer}">
                    <div class="game-pokemon-quiz-check">정답입니다!</div>
                </th:block>
                <th:block th:unless="${requestShadowGame.gameQuizAnswer}">
                    <div class="game-pokemon-quiz-check">오답입니다!</div>
                </th:block>
                <div class="game-pokemon-name" th:text="*{#strings.concat('정답은 ', name, '입니다!')}"></div>
                <div class="game-answer">
                    <button class="game-button-ps" type="submit" th:text="#{다음문제}"></button>
                </div>
            </div>
        </form>
    </section>
</main>
</html>