<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content" class="game-background">
        <div class="game-left-image"></div>
        <form name="frmGameStart" class="game-box" method="POST" th:action="@{/game/shadowstart}" autocomplete="off" th:object="${requestShadowGame}">
            <section class="shadow-game">
                <div class="pokemon-image game-left">
                    <img class="game-logo" th:src="@{/front/images/pikachu_game.png}" />
                </div>
                <div class="game-right">
                    <div class="game-setting">
                        <div class="game-image" th:text="#{게임이미지}"></div>
                        <div class="terms-check-all">
                            <ul>
                                <li>
                                    <input type="radio" name="option" value="493" th:field="*{pokemonCheck}" id="requiredTerms0" class="radio-game">
                                    <label for="requiredTerms0" th:text="${#messages.msg('하')}"></label>
                                </li>
                                <li>
                                    <input type="radio" name="option" value="649" th:field="*{pokemonCheck}" id="requiredTerms1" class="radio-game">
                                    <label for="requiredTerms1" th:text="${#messages.msg('중')}"></label>
                                </li>
                                <li>
                                    <input type="radio" name="option" value="898" th:field="*{pokemonCheck}" id="requiredTerms2" class="radio-game">
                                    <label for="requiredTerms2" th:text="${#messages.msg('상')}"></label>
                                </li>
                            </ul>
                            <span class="pokemonCount">493마리</span>
                        </div>
                    </div>
                    <div class="game-description">
                        <div class="description-name">설명</div>
                        <div class="description-content1" th:text="${#messages.msg('게임설명')}"></div>
                        <div class="description-content2" id="description-content">위의 항목을 체크해주세요.</div>
                    </div>
                    <div class="game-button">
                        <button class="game-start-btn" type="submit" th:text="#{게임시작}"></button>
                        <button type="button" class="game-start-btn show-popup btn-white" th:data-url="@{/game/shadowrank/ROW}" th:data-width="900" th:data-height="700">랭킹</button>
                    </div>
                </div>
            </section>
        </form>
        <div class="game-right-image"></div>
<!--        <th:block th:replace="~{front/game/_rank::common}"></th:block>-->
</main>
</html>