<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content">
    <form name="frmGameStart" class="login-box" method="POST" th:action="@{/game/shadowstart}" autocomplete="off" th:object="${requestShadowGame}">
        <div class="pokemon-image game-left">
            <img src="">
        </div>
        <div class="game-right">
            <div class="terms-check-all">
                <input type="checkbox" class="check-all" data-target-class="terms" id="check-all">
                <label for="check-all" th:text="#{전체선택}"></label>
                <ul>
                    <li>
                        <input type="checkbox" name="requiredTerms1" value="true" th:field="*{pokemonCheck[0]}" id="requiredTerms0" class="terms">
                        <label for="requiredTerms0" th:text="${#messages.msg('1세대')}"></label>
                    </li>
                    <li>
                        <input type="checkbox" name="requiredTerms2" value="true" th:field="*{pokemonCheck[1]}" id="requiredTerms1" class="terms">
                        <label for="requiredTerms1" th:text="${#messages.msg('2세대')}"></label>
                    </li>
                    <li>
                        <input type="checkbox" name="requiredTerms3" value="true" th:field="*{pokemonCheck[2]}" id="requiredTerms2" class="terms">
                        <label for="requiredTerms2" th:text="${#messages.msg('3세대')}"></label>
                    </li>
                    <li>
                        <input type="checkbox" name="optionalTerms" value="advertisement" th:field="*{pokemonCheck[3]}" id="requiredTerms3" class="terms">
                        <label for="requiredTerms3" th:text="${#messages.msg('4세대')}"></label>
                    </li>
                    <li>
                        <input type="checkbox" name="requiredTerms1" value="true" th:field="*{pokemonCheck[4]}" id="requiredTerms4" class="terms">
                        <label for="requiredTerms4" th:text="${#messages.msg('5세대')}"></label>
                    </li>
                    <li>
                        <input type="checkbox" name="requiredTerms2" value="true" th:field="*{pokemonCheck[5]}" id="requiredTerms5" class="terms">
                        <label for="requiredTerms5" th:text="${#messages.msg('6세대')}"></label>
                    </li>
                    <li>
                        <input type="checkbox" name="requiredTerms3" value="true" th:field="*{pokemonCheck[6]}" id="requiredTerms6" class="terms">
                        <label for="requiredTerms6" th:text="${#messages.msg('7세대')}"></label>
                    </li>
                    <li>
                        <input type="checkbox" name="optionalTerms" value="advertisement" th:field="*{pokemonCheck[7]}" id="requiredTerms7" class="terms">
                        <label for="requiredTerms7" th:text="${#messages.msg('8세대')}"></label>
                    </li>
                </ul>
                <div class="pokemonCount" th:text=""></div>
            </div>
        </div>
    </form>
</main>
</html>