/* 테이블 공통 S */
.table-cols {
    border-spacing: 0;
    width: 100%;
}

.table-cols th {
    background: #e6e6e6;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}
.table-cols td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.table-cols tr:first-of-type th,
.table-cols tr:first-of-type td {
    border-top: 1px solid #ccc;
}

.table-rows {
    border-spacing: 0;
    width: 100%;
}

.table-rows thead th {
    background: #212121;
    color: #fff;
    padding: 7px 10px;
    font-size: 1.15rem;
}
.table-rows thead th + th {
    border-left: 1px solid #f8f8f8;
}
.table-rows tbody td {
    border-bottom: 1px solid #ccc;
    padding: 5px 10px;
}

.table-rows tbody tr:nth-of-type(2n) td {
    background: #f8f8f8;
}

.table-action {
    padding: 20px 10px;
    border-bottom: 1px solid #212121;
    font-size: 1.15rem;
}

.table-rows .no-data {
    padding: 150px 0;
    text-align: center;
    font-size: 1.15rem;
}

/* 테이블 공통 E */

/* 여백 공통 S */
.mb10 {
    margin-bottom: 10px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.mb30 {
    margin-bottom: 30px !important;
}

.mr5 {
    margin-right: 5px !important;
}

.mr10 {
    margin-right: 10px !important;
}

/* 여백 공통 E */

/* 너비 공통 S */

.w180 {
    width: 180px !important;
}
.w220 {
    width: 220px !important;
}

/* 너비 공통 E */

.rank-system {
    margin-top: -120px;
}